@charset "UTF-8";

.menu-nav-list {
    display: none;
}

.menu-hamburgue {
    width: 30px;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.menu-hamburgue::after {
    position: absolute;
    top: 37px;
    content: "";
    width: 30px;
    height: 1px;
    background-color: aliceblue;
}

.menu-hamburgue::before {
    position: absolute;
    top: 15px;
    content: "";
    width: 30px;
    height: 1px;
    background-color: aliceblue;
}
