@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../image/Nova pasta/back-finality-two.jpg") ;
    background-size: cover;
    background-position: center -20px;
    background-repeat: no-repeat;
}

header {
    display: flex;
    width: 100vw;
    justify-content: center;
}

div.logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

div.logo-header > img.img-logo {
    width: 50px;
}

div.logo-header > a {
    color: #fff;
    font-size: 20pt;
}

ul.nav-bar {
    display: flex;
    padding-top: 15px;
}

ul.nav-bar > li.op > a{
    margin: 0 5px;
    padding: 5px 20px;
    color: #fff;
    font-size: 14pt;
}

ul.nav-bar > li.op > a:hover{
    box-sizing: border-box;
    border-top: 2px solid rgba(255, 68, 0, 0.705);
    color: #fec544;
}

.cont-title {
    margin-top: 60px;
    margin-left: 80px;
}

.cont-title span {
    font-size: 42pt;
    color: #e91361;
    text-shadow: 0 0 7px rgb(91, 93, 79);
}

.cont-texto-show {
    margin-top: 50px;
    margin-left: 80px;
}

.cont-texto-show p {
    width: 40%;
    line-height: 25PX;
}