@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(236, 238, 240);
}

header {
    display: flex;
    width: 100%;
    background-color: rgb(10, 67, 85);
}

div.cont-header {
    display: flex;
    width: 1020px;
    margin: 5px auto;
    justify-content: space-around;
    align-items: center;
}

div.logo {
    display: flex;
    flex-direction: row;
}

div.cont-header > div.logo > a > span {
    font-size: 28pt;
    color: rgb(255, 255, 255);
}

ul.menu-nav {
    display: flex;
}

ul.menu-nav > li.op {
    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 5px 15px;
}

li.op:hover {
    background-color: rgba(255, 255, 255, 0.158);
    color: aqua;
}

ul.menu-nav > li.op > a {
    color: aliceblue;
    font-size: 14pt;
}


/*################################################################
formatação main
##################################################################*/

main {
    display: flex;
    width: 920px;
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}