@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Myriad Pro', 'Trebuchet MS', sans-serif;
}

html {
    position: relative;
    font-size: 16px;
}


body {
    width: 100vw;
    height: 100vh;
}

.img-back > img {
    position: absolute;
    left: 0;
    top: 6.5em;
    width: 100%;
}

header {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.cont-header-bar {
    width: 100%;
}

div.logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
}

div.logo-header > img.img-logo {
    width: 3.5rem;
}

div.logo-header > a {
    color: #f6c53f;
    font-size: 2rem;
}

.menu-nav-bar {
    width: 100%;
}

body {
    background-image: url("../image/Nova pasta/width-768-2.jpg");
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
}


.menu-nav-bar > .nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 14em;
    padding: 1em 0;
    justify-content: center;
    align-items: center;
}

.nav-bar > .op {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.nav-bar > .op > a {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.cont-title > span {
    margin-top: 2em;
    color: #2E2D2D;
    font-size: 2.2rem;
    font-weight: 600;
}

.cont-texto-show > p {
    margin-top: 1.5em;
    text-align: center;
    max-width: 350px;
}

footer {

    display: flex;
    margin-top: 2.85em;
    justify-content: center;
    width: 100%;
    background-color: #2e2d2d;
}

.saiba-mais {
    
    display: flex;
    justify-content: center;
    width: 13em;
    margin: 1.5em;
    padding: .4em;
    border-radius: 100px;
    border: 1px solid #f6c53f;
    background-color: #f6c53f2c;
}

.saiba-mais > span {
    font-size: 1.5rem;
    color: rgb(240, 224, 219);

}