

main {
    display: block;
    margin-top: 1.5em;
    text-align: left;
}

body {
    width: 100%;
    overflow: hidden;
}

.cont-main {
    width: 100%;
    text-align: left;
    justify-content: left;
    align-items: start;
    padding-left: 2em;
}

.cont-title {
    max-width: 450px;
}

.cont-title > span {
    font-size: 3rem;
    text-align: left;
}

.cont-texto-show {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 7.5em;
    padding-right: 20px;
}

.cont-texto-show > p {
    margin-top: 4em;
    text-align: left;
    max-width: 450px;
    font-size: .93rem;
}

footer {
    position: relative;
    justify-content: left;
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5em;
    }

.saiba-mais {
    border: 0px solid #252525;
    background-color: #c99d26c5;
    box-shadow: 0 0 15px rgba(185, 161, 26, 0.562);
}

.saiba-mais > span {
    font-size: 1.2rem;
    color: rgb(240, 224, 219);

}