@charset "UTF-8";

/* CONFIGURAÇÃO DE CONTAINER BODY*/
body {
    
}

/* CONFIGURAÇÃO DE CONTAINER HEADER*/
header {

}

.cont-header-bar {

}

.logo-header {

}

.img-logo {

}

.title-logo {

}

/* CONFIGURAÇÃO DE CONTAINER MAIN*/
main {
    
    display: flex;
    align-items: center;
    width: 80vw;
    margin: 40px auto;
}

.cont-main {
    width: 100%;
    flex-direction: column;
}

.cont-title {

}

.cont-texto-show {
    align-items: start;
    width: 100%;
}

.cont-texto-show > p {
    max-width: 1280px;
    padding: 20px;
    margin-bottom: 40px;
}

.cont-texto-show > a {
    width: 300px;
    text-align: center;
}

/* CONFIGURAÇÃO DE CONTAINER FOOTER*/
footer {

}

.cont-footer {

}

.cont-footer > a{

}

.saiba-mais {

}

.saiba-mais > span {

}