
main {
    display: block;
    margin-top: 3.5em;
    text-align: left;
}

body {
    width: 100%;
    overflow: hidden;
}

body {
    position: relative;
    background-image: url("../../image/Nova pasta/back-finality-two.jpg");
    background-position: left -50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 100vh;
}

.cont-header-bar {
    width: 100%;
    background-color: #e0cb0b00;
}

img.img-logo {
    display: none;
}

.img-logo-header {
    width: 60px;
    height: 60px;
    background-image: url("../../image/icons/outros/graduacao.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
}

div.logo-header > a {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-shadow: 0 0 5px rgba(32, 32, 32, 0.801);
}

.cont-main {
    width: 100%;
    text-align: left;
    justify-content: left;
    align-items: start;
    padding-left: 2em;
}

.cont-title {
    max-width: 400px;
    text-align: center;
}

.cont-title > span {
    font-size: 2.5rem;
    text-align: left;
}

.cont-texto-show {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 7.5em;
    padding-right: 20px;
}

.cont-texto-show > p {
    margin-top: 6em;
    text-align: justify;
    max-width: 400px;
    font-size: .93rem;
    padding: 0;
}

footer {
    position: relative;
    display: flex;
    margin-top: 1em;
    justify-content: center;
    width: 100%;
    background-color: #2e2d2d;
    bottom: 0;
}

.saiba-mais {
    width: 20em;
    padding:.2em 0;
    border: 0px solid #252525;
    background-color: #c99d26c5;
    box-shadow: 0 0 15px rgba(185, 161, 26, 0.562);
}

.saiba-mais > span {
    font-size: 1.8rem;
    color: rgb(240, 224, 219);

}