@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Myriad Pro', 'Trebuchet MS', sans-serif;
}

html {
    font-size: 16px; /* Ajuste padrão de fonte */
}

body {
    width: 100%;
    min-height: 100vh; /* Garante que a altura seja no mínimo 100vh */
    height: auto;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cont-header-bar {
    width: 100%;
    background-color: #161616;
    max-width: 1200px; /* Limita a largura máxima */
    margin: 0 auto; /* Centraliza o conteúdo */
}

div.logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
    padding-bottom: .5em;
}

img.img-logo {
    width: 2.8rem;
}

div.logo-header > a {
    color: #f6c53f;
    font-size: 2rem;
}

.menu-nav-bar {
    width: 100%;
}

.menu-nav-bar > .nav-bar {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: auto; /* Ajuste automático para o conteúdo */
    margin: 0 auto;
}

.cont-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 100%;
}

.cont-title {
    margin-top: 0;
    max-width: 300px;
}

.cont-title > span {
    color: #2E2D2D;
    font-size: 2.3rem; /* Tamanho da fonte ajustado para melhor visibilidade */
    font-weight: 900;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.308);
    text-transform: uppercase;
}

.cont-texto-show > p {
    margin-top: 0;
    text-indent: 2.5em;
    text-align: justify;
    max-width: 350px;
    line-height: 22px;
    font-size: 1.2rem;
    text-shadow: .3px .3px 2px rgb(255, 255, 255);
    padding-left: .5em;
    padding-right: .5em;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2e2d2d;
}

.saiba-mais {
    display: flex;
    justify-content: center;
    width: 13em;
    padding: .4em;
    border-radius: 100px;
    border: 1px solid #f6c53f;
    background-color: #f6c53f2c;
}

footer > a {
    color: antiquewhite;
    margin: 1em;
}

.saiba-mais > span {
    font-size: 1.2rem;
    color: rgb(240, 224, 219);
}