@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Myriad Pro', 'Trebuchet MS', sans-serif;
}

html {

    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.cont-header-bar {
    width: 100%;
    background-color: #161616;
}

div.logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
    padding-bottom: .5em;
}

img.img-logo {
    width: 2.5rem;
}

div.logo-header > a {
    color: #f6c53f;
    font-size: 1.5rem;
}

.menu-nav-bar {
    width: 100%;
}

.menu-nav-bar > .nav-bar {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.cont-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.cont-title {
    margin-top: 1em;
    max-width: 200px;
}

.cont-title > span {
    color: #2E2D2D;
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.308);
    text-transform: uppercase;
}

.cont-texto-show > p {
    margin-top: 1em;
    text-indent: 2.5em;
    text-align: justify;
    max-width: 350px;
    line-height: 22px;
    font-size: .93rem;
    text-shadow: .3px -.3px 2px rgb(255, 255, 255);
    padding-left: 1em;
    padding-right: 1em;
}

footer {
    position: relative;
    display: flex;
    margin-top: 1em;
    justify-content: center;
    width: 100%;
    background-color: #2e2d2d;
    bottom: 0;
}

.saiba-mais {
    display: flex;
    justify-content: center;
    width: 13em;
    padding: .4em;
    border-radius: 100px;
    border: 1px solid #f6c53f;
    background-color: #f6c53f2c;
}

footer > a {
    color: antiquewhite;
    margin: 1.5em;
}

.saiba-mais > span {
    font-size: 1.5rem;
    color: rgb(240, 224, 219);

}