body {
    width: 100%;
}

body {
    position: relative;
    background-image: url("../../image/Nova pasta/back-finality-two.jpg");
    background-position: left -50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 100vh;
}

header {
    background-color: rgba(228, 32, 32, 0);
    height: 20vh;
}

img.img-logo {
    display: none;
}

.img-logo-header {
    width: 60px;
    height: 60px;
    background-image: url("../../image/icons/outros/graduacao.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
}

div.logo-header > a {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-shadow: 0 0 5px rgba(32, 32, 32, 0.801);
}

main {
    height: 70vh;
}

.cont-main {
    
}

.cont-title {
    font-size: 3.2rem;
    font-weight: 900;
    max-width: 400px;
}

.cont-title > span {
    
}

.cont-texto-show {
    max-width: 400px;
}

.cont-texto-show > p {
    line-height: 1.7em;
    font-size: 1.2rem;
}

footer {

}

.saiba-mais {

}

.saiba-mais > span {

}