

body {
    background-size: cover;
    background-position: center center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.img-logo-header {
    width: 80px;
    height: 80px;
}

main {
    position: relative;
}

.cont-main {
    width: 80%;
    min-height: 400px;
}

.cont-title {
    font-size: 3.5rem;
    font-weight: 900;
    max-width: 400px;
    line-height: normal;
    max-width: 600px;
}

footer {
    display: none;
    position: relative;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    background-color: #2e2d2d;
}

.saiba-mais {
    display: none;
    justify-content: center;
    width: 40em;
    padding: .4em;
    border-radius: 100px;
    border: 1px solid #f6c53f;
    background-color: #f6c53f2c;
}

footer > a {
    display: none;
}

.saiba-mais > span {
    color: black;
}