@charset "UTF-8";

.cont-header-principal {
    flex-direction: row;
}

.cursos-individuais {
    max-width: 290px;
    margin-left: 10px;
    margin-right: 10px;
}

.pacote-cursos {
    max-width: 290px;
}

main {
    position: relative;
    top: 3em;
}