@charset "UTF-8";

.cont-header-principal {
    flex-direction: row;
}

.cursos-individuais {
    max-width: 350px;
    margin-left: 10px;
    margin-right: 10px;
}

.pacote-cursos {
    max-width: 240px;
}

main {
    position: relative;
    top: 3em;
}


.cont-secao {
    max-width: 820px;
    margin: auto;
    padding: 0 1em;
}

.secao1 > .cont-secao > span {
    margin-top: 2em;
    font-size: 4rem;
    z-index: 2;
}

.obs-title {
    margin-top: 1em;
    height: 50px;
    align-items: center;
    font-size: 2rem;
}

.title > h1 {
    text-transform: lowercase;
    font-weight: 0;
    font-size: 2.5rem;
}

.cont-como-funciona {
    display: flex;
    width: 100%;
}

.title-funcao {
    width: 600px;
}

.passos {
    display: flex;
    width: 80%;
    min-width: 750px;
    flex-direction: row;
}

/* slide #01 */

.slide1 > .efeito1 > .cont-infor {
    position: relative;
    width: 90%;
    max-width: 820px;
    margin: auto;
}

.slide1 > .efeito1 > .cont-infor > img {
    position: absolute;
    width: 460px;
    left: 0%;
    top: 50%;
    transform: translate(0, -25%);
    z-index: 0;
}

.slide1 > .efeito1 > .cont-infor > span {
    position: relative;
    color: #fff;
    font-size: 2rem;
    padding-bottom: .4em;
    z-index: 1;
    top: 0px;
}

.slide1 > .efeito1 > .cont-infor > h2 {
    position: relative;
    background-color: #A3A901;
    color: #00150F;
    padding: 3px 15px;
    border-radius: 10px;
    font-size: 3.5rem;
    z-index: 1;
    top: 0px;
    left: 100px;
}

/* slide #02 */

.slide2 > .efeito1 > .cont-infor {
    max-width: 768px;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: start;
}
.slide2 > .efeito1 > .cont-infor > img {
    width: 350px;
    top: 0;
    right: -50px;
    transform: translate(0, 0);
}

.slide2 > .efeito1 > .cont-infor > span {
    font-size: 2rem;
    top: 50px;
    left: 0;

}

.slide2 > .efeito1 > .cont-infor > h2 {
    font-size: 7rem;
    top: 50px;
    padding: 0;
}

.slide2 > .efeito1 > .cont-infor > .line {
    width: 320px;
    left: 0;
    top: 325px;
}

.slide2 > .efeito1 > .cont-infor > h3 {
    top: 40px;
    left: 330px;
    font-size: 1.5rem;
}