@charset "UTF-8";

body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.cont-header-principal {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2:not(.curso-ind) {
    color: #13a1a1;
    padding-bottom: 1.5em;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

/*menu*/

.cont-list-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3.63em;
    right: -40%;
    transition: .5s;
    width: 40%;
    height: 300px;
    background-color: #123636;
}

.cont-list-bar-on {
    right: 0;
    transition: .5s;
}

.list-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



/*texto inicio*/

img {
    width: 100%;
}

.title {
    margin-top: 3em;
    padding-bottom: 1em;
    text-align: left;
    font-size: 1.05rem;
    width: 90%;
}

.secao1, .secao2 {
    width: 100%;
}

.secao1 > .cont-secao {
    margin-top: 7em;
}

.secao1 > .cont-secao > span {
    margin-top: 2em;
    font-size: 2.5rem;
    z-index: 2;
    padding-bottom: 1em;
}

.color {
    color: #132da1;
}

/*cursos individuais*/

.cont-cursos-individuais {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cursos-individuais {
    width: 100%;
    height: 14em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
    margin-top: 25px;
    max-width: 420px;
    border-radius: 1px;
    overflow: hidden;
}

div.img {
    position: relative;

}

/* formatando img curso */

div.img > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7em;
    border-top: 6px solid #102935;
    border-bottom: 6px solid orange;
    position: relative;
    background-color: #020202;
    overflow: hidden;
}

div.img > div::after {
    position: absolute;
    left: 0;
    transform: translate(-50%, -30%);
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100px;
    filter: blur(20px);
    opacity: 40%;
    background-color: #70fe84;
}

div.img > div::before {
    position: absolute;
    right: 0;
    transform: translate(50%, 30%);
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100px;
    filter: blur(20px);
    opacity: 50%;
    background-color: #70fe84;
}

/* windows */
.curso-individuais-1 > div.img > div::after {
    background-color: #025294;
}
.curso-individuais-1 > div.img > div::before {
    background-color: #025294;
}
/* word */
.curso-individuais2 > div.img > div::after {
    background-color: #7079fe;
}
.curso-individuais2 > div.img > div::before {
    background-color: #7079fe;
}
/* powerpoint */
.curso-individuais3 > div.img > div::after {
    background-color: #e75d27;
}
.curso-individuais3 > div.img > div::before {
    background-color: #e75d27;
}
/* access */
.curso-individuais4 > div.img > div::after {
    background-color: #e91313;
}
.curso-individuais4 > div.img > div::before {
    background-color: #e91313;
}
/* photoshop */
.curso-individuais6 > div.img > div::after {
    background-color: #3a0abd;
}
.curso-individuais6 > div.img > div::before {
    background-color: #3a0abd;
}
/* illustrator */
.curso-individuais7 > div.img > div::after {
    background-color: #bd690a;
}
.curso-individuais7 > div.img > div::before {
    background-color: #bd690a;
}
/* indesigner */
.curso-individuais8 > div.img > div::after {
    background-color: #c90ba9;
}
.curso-individuais8 > div.img > div::before {
    background-color: #c90ba9;
}


div.img > div > .fundo {
    position: absolute;
    width: 200px;
    transform: rotate(25deg) translate(0, 20%);
    filter: blur(3px);
}

.rect {
    display: flex;
    align-items: center;
    width: 95%;
    height: 90%;
    border: 1.5px solid #fff;
    border-radius: 5px;
    padding: 0 .8em;
    justify-content: center;
    backdrop-filter: blur(2px);
    z-index: 1;
}

.rect > span {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    padding-right: 20px;
}

@media (max-width: 375px) {
    .rect > span {
        font-size: 1.5rem;
    }
}

.rect > .logo {
    width: 4.5em;
}

div.img > span {
    font-size: 1.5rem;
    position: absolute;
    bottom: 6px;
    padding: 2px 10px;
    background-color: rgba(240, 248, 255, 0.3);
    backdrop-filter: blur(2px);
    z-index: 5;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.589);
}

.cursos-individuais > h2{
    color: #123636;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .4em auto;
    padding-left: .6em;
}

.cursos-individuais > p {
    text-align: left;
    line-height: 1.4em;
    font-size: .8rem;
    margin-top: .4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
    max-width: 300px;
}

/*pacotes cursos*/

.cont-pacotes-cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pacote-cursos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    background: url("../../image/Back-ground/card-1.jpg");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
    overflow: hidden;
    padding: 7px;
    padding-left: 1em;
    margin-top: 20px;
    max-width: 320px;
    margin-left: 10px;
    margin-right: 10px;
}

.pacote-cursos > div:nth-child(1) {
    margin-top: 1.2em;
    color: #EDEDED;
    background-color: #132da1;
    border-radius: 100px;
    padding: 2px 15px;
}

.pacote-cursos > h2 {
    font-size: 1.4rem;
    margin-top: .8em;
    padding-bottom: .8em;
    color: #EDEDED;
}

.pacote-cursos > h3 {
    font-size: 1rem;
    margin-top: -.5em;
    padding-bottom: .7em;
    color: #ffb428;
}

.pacote-cursos > p {
    font-size: .8rem;
    max-width: 90%;
    margin-top: -.5em;
    padding-bottom: .7em;
    color: #ffffff;
}

.lista-cursos {
    display: flex;
    flex-direction: column;
}

.lista-cursos > li {
    margin-top: 10px;
    font-size: 1rem;
    color: #EDEDED;
}
.lista-cursos > li:nth-last-child(1) {
    margin-bottom: 10px;
}

.observacoes {
    width: 90%;
    margin: auto;
    padding-bottom: 1em;
}

.observacoes div:first-child {
    background-color: #19628F;
    color: #EDEDED;
    font-weight: 0;
}

.obs {
    display: flex;
    justify-content: center;
    color: #19628F;
    font-weight: 600;
    width: 100%;
    margin-top: 6px;
    padding: .4em 0;
    border-radius: 100px;
    background-color: #19628f00;
    border: 1.5px solid #19628F;
}

.obs-title {
    min-width: 280px;
    width: 80%;
    margin-top: 2em;
    font-size: 1.2rem;
}


/* passo a passo */

.cont-como-funciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.passo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    margin: 10px auto;
}

.title-funcao {
    padding-bottom: 20px;
}

.title-funcao > h2 {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: #123636;
    text-align: center;
    padding: .8em;
    border-radius: 5px 20px;
    margin-bottom: 15px;
}

.title-funcao > p {
    text-align: center;
    font-size: .8rem;
}

.img-passo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 150px;
}

.img-passo > img {
    filter: drop-shadow(0, 0, 50px, black);
}

.img-passo > .img1 {
    width: 100px;
}

.img-passo > .img2 {
    width: 150px;
}

.img-passo > .img3 {
    width: 120px;
}

.img-passo::before {
    position: absolute;
    transform: translate(-20%, 45%);
    /*content: "";*/
    width: 135px;
    height: 130px;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    border-radius: 100%;
}

.img-passo::after {
    position: absolute;
    transform: translate(-20%, 60%);
    /*content: "";*/
    width: 110px;
    height: 110px;
    background-color: #123636;
    border-radius: 100%;
}

.passo > h3 {
    margin-top: .3em;
    padding-bottom: .3em;
}

.passo > p {
    font-size: .8rem;
    text-align: center;
}

.cont-como-funciona > p {
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    color: orangered;
    margin-top: 15px;
}