@charset "UTF-8";

.cont-header-principal {
    display: flex;
    flex-direction: column;
}

#menu-open {
    display: none;
}

.cont-list-bar {
    position: sticky;
    display: flex;
    width: auto;
    height: auto;
    background-color: rgba(0, 255, 255, 0);
}

.list-bar {
    flex-direction: row;
    margin-top: 10px;
    padding-bottom: 10px;
}

.op {
    margin: 0 8px;
}
